[Desktop Entry]
Type=Service
Icon=hwinfo
Exec=kcmshell5 kcm_driver_manager

X-KDE-Library=kcm_driver_manager
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm-driver-manager
X-KDE-Keywords=drivers
X-KDE-Keywords[bs]=drajveri
X-KDE-Keywords[ca]=controladors
X-KDE-Keywords[ca@valencia]=controladors
X-KDE-Keywords[cs]=ovladače
X-KDE-Keywords[de]=Treiber
X-KDE-Keywords[el]=οδηγοί
X-KDE-Keywords[en_GB]=drivers
X-KDE-Keywords[es]=controladores
X-KDE-Keywords[eu]=gidariak
X-KDE-Keywords[fi]=drivers,ajurit
X-KDE-Keywords[fr]=pilotes
X-KDE-Keywords[gd]=draibhearan
X-KDE-Keywords[gl]=controlador
X-KDE-Keywords[hr]=upravljački programi
X-KDE-Keywords[hu]=illesztőprogramok
X-KDE-Keywords[hy]=դրայվերներ
X-KDE-Keywords[id]=driver
X-KDE-Keywords[it]=driver
X-KDE-Keywords[ko]=drivers,드라이버
X-KDE-Keywords[lv]=draiveri
X-KDE-Keywords[ms]=Pemacu
X-KDE-Keywords[nl]=stuurprogramma's
X-KDE-Keywords[nn]=drivarar
X-KDE-Keywords[oc]=pilòts
X-KDE-Keywords[pa]=ਡਰਾਇਵਰ
X-KDE-Keywords[pl]=sterowniki
X-KDE-Keywords[pt]=drivers
X-KDE-Keywords[pt_BR]=drivers
X-KDE-Keywords[ro]=drivere
X-KDE-Keywords[ru]=драйверы
X-KDE-Keywords[sk]=ovládače
X-KDE-Keywords[sl]=gonilniki
X-KDE-Keywords[sr]=drivers,драјвер
X-KDE-Keywords[sr@ijekavian]=drivers,драјвер
X-KDE-Keywords[sr@ijekavianlatin]=drivers,drajver
X-KDE-Keywords[sr@latin]=drivers,drajver
X-KDE-Keywords[sv]=drivrutiner
X-KDE-Keywords[tr]=sürücüler
X-KDE-Keywords[ug]=قوزغاتقۇلار
X-KDE-Keywords[uk]=драйвери
X-KDE-Keywords[uz]=drayverlar
X-KDE-Keywords[x-test]=xxdriversxx
X-KDE-Keywords[zh_CN]=驱动
X-KDE-Keywords[zh_TW]=驅動程式
Categories=Qt;KDE;X-KDE-settings-hardware;

Name=Driver Manager
Name[bs]=Upravljač drajvera
Name[ca]=Gestor dels controladors
Name[ca@valencia]=Gestor dels controladors
Name[cs]=Správce ovladačů
Name[de]=Treiberverwaltung
Name[el]=Διαχειριστής οδηγών
Name[en_GB]=Driver Manager
Name[es]=Gestor de controladores
Name[eu]=Gidari kudeatzailea
Name[fi]=Ajurien hallinta
Name[fr]=Gestionnaire de pilotes
Name[gd]=Manaidsear nan draibhearan
Name[gl]=Xestor de controladores
Name[hr]=Upravitelj upravljačkih programa
Name[hu]=Illesztőprogram-kezelő
Name[hy]=Դրայվերների մենեջեր
Name[it]=Gestore di driver
Name[ko]=드라이버 관리자
Name[lv]=Draiveru menedžeris
Name[ms]=Pengurus Pemacu
Name[nl]=Beheerder van stuurprogramma's
Name[nn]=Drivarhandsamar
Name[oc]=Gestionari de pilòts
Name[pa]=ਡਰਾਇਵਰ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie sterownikami
Name[pt]=Gestor de controladores
Name[pt_BR]=Gerenciador de Drivers
Name[ro]=Administrator de drivere
Name[ru]=Диспетчер драйверов
Name[sk]=Správca ovládačov
Name[sl]=Upravljalnik gonilnikov
Name[sr]=Менаџер драјвера
Name[sr@ijekavian]=Менаџер драјвера
Name[sr@ijekavianlatin]=Menadžer drajvera
Name[sr@latin]=Menadžer drajvera
Name[sv]=Drivrutinshanterare
Name[tr]=Sürücü Yöneticisi
Name[ug]=قوزغاتقۇ باشقۇرغۇ
Name[uk]=Керування драйверами
Name[uz]=Drayver Boshqaruvchisi
Name[x-test]=xxDriver Managerxx
Name[zh_CN]=驱动管理器
Name[zh_TW]=驅動程式管理員
Comment=Driver management software
Comment[bs]=Softver za upravljanje drajverima
Comment[ca]=Programari per a gestionar els controladors
Comment[ca@valencia]=Programari per a gestionar els controladors
Comment[cs]=Software pro správu ovladačů
Comment[de]=Treiberverwaltungs-Anwendung
Comment[el]=Λογισμικό διαχείρισης οδηγών
Comment[en_GB]=Driver management software
Comment[es]=Software de gestión de controladores
Comment[eu]=Gidariak kudeatzeko softwarea
Comment[fi]=Ajurien hallintaohjelmisto
Comment[fr]=Logiciel de gestion de pilotes
Comment[gd]=Bathar-bog gus draibhearan a stiùireadh
Comment[gl]=Software de xestión de controladores
Comment[hr]=Softver upravljačkih programa
Comment[hu]=Illesztőprogram-kezelő szoftver
Comment[hy]=Դրայվերների կառավարման ծրագիր
Comment[id]=Software pengelolaan driver
Comment[it]=Software di gestione dei driver
Comment[ko]=드라이버 관리 소프트웨어
Comment[lv]=Draiveru menedžmenta programmatūra
Comment[ms]=Perisian Pengurusan Pemacu
Comment[nl]=Software voor beheer van Stuurprogramma's
Comment[nn]=Program for handsaming av drivarar
Comment[oc]=Logicial de gestion de pilòts
Comment[pa]=ਡਰਾਇਵਰ ਪ੍ਰਬੰਧ ਸਾਫਟਵੇਅਰ
Comment[pl]=Oprogramowanie do zarządzania sterownikami
Comment[pt]=Software de gestor de controladores
Comment[pt_BR]=Software de gerenciamento de drivers
Comment[ro]=Program de administrare de drivere
Comment[ru]=Средства управления драйверами
Comment[sk]=Softvér na správu ovládačov
Comment[sl]=Programska oprema upravljalnika gonilnikov
Comment[sr]=Софтвер за управљање драјверима
Comment[sr@ijekavian]=Софтвер за управљање драјверима
Comment[sr@ijekavianlatin]=Softver za upravljanje drajverima
Comment[sr@latin]=Softver za upravljanje drajverima
Comment[sv]=Drivrutinshantering
Comment[tr]=Sürücü yönetim yazılımı
Comment[ug]=قوزغاتقۇ باشقۇرۇش پروگراممىسى
Comment[uk]=Програма для керування драйверами
Comment[uz]=Drayver boshqaruvi dasturlari
Comment[x-test]=xxDriver management softwarexx
Comment[zh_CN]=驱动管理软件
Comment[zh_TW]=驅動程式管理程式
