[Desktop Entry]
Type=Service
Icon=hwinfo
Exec=kcmshell4 kcm_driver_manager

X-KDE-Library=kcm_driver_manager
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm-driver-manager
X-KDE-Keywords=drivers
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=Driver Manager for Kubuntu
Comment=Driver management software
